DJANGO_DEBUG=True
CURRENT_ENV=local
DJANGO_SETTINGS_MODULE=frontend_api_project.settings
DJANGO_SECRET_KEY=2AYpV2XebU-RcIuRPCA4QJ11ova3_LHsDKqMatBl24dkArYjtfY
DJANGO_ADMIN_URL=supersecret/
SIGNING_KEY=BYtzhRdU47V!oMKQBjDUTePbGUA5nV9dDiE$6gfYIIPknBUpZhTu7dWc$YaOekSe
BACKEND_URL=http://127.0.0.1:8000
SITE_URL=http://localhost:8080
