DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=admin_api_project.settings
DJANGO_SECRET_KEY=3e3e
DJANGO_ADMIN_URL=supersecret/
SIGNING_KEY=ew33
POSTGRESQL_LOCAL_DATABASE_URL=postgres://postgres:123456789@localhost:5432/adminapidb
POSTGRESQL_DOCKER_DATABASE_URL=postgres://cowrywise:Pass123456@postgres:5432/adminapidb
BACKEND_URL=http://127.0.0.1:8000
SITE_URL=http://localhost:8080
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_DEFAULT_VHOST=/