DJANGO_DEBUG=
DJANGO_SETTINGS_MODULE=
DJANGO_SECRET_KEY=
DJANGO_ADMIN_URL=
SIGNING_KEY=
POSTGRESQL_LOCAL_DATABASE_URL=postgres://postgres:123456789@localhost:5432/adminapidb
POSTGRESQL_DOCKER_DATABASE_URL=postgres://cowrywise:Pass123456@postgres:5432/adminapidb
BACKEND_URL=
SITE_URL=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_DEFAULT_VHOST=